<?xml version="1.0" encoding="UTF-8"?><resource name="ReporteAccidente_to_WorkAccident.datamapper" isCollection="false" path="/_system/governance/siniestroarl/xslt/AxaColpatria.ArlPoliciesAPI.Registry/ReporteAccidente_to_WorkAccident.datamapper" registryUrl="https://localhost:9443/registry" status="added"/>
